.popup__button-save {
    all: unset;
    box-sizing: content-box;
    background-color: #000;
    color: #fff;
    width: calc(100% - 2 * 21px);
    min-height: 50px;
    display: block;
    margin: 43px auto 0;
    font-style: normal;
    font-weight: 400;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);
    line-height: 17px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 2px;
}

.popup__button-save:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color ease-in-out 0.6s;
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    .popup__button-save {
        width: calc(100% - 2 * 36px);
        margin-top: 46px;
    }
}

@media screen and (min-width: 1280px) {
    .popup__button-save {
        font-size: 18px;
    }
}