.profile__edit-button {
    all: unset;
    min-width: 16px;
    min-height: 16px;
    background-image: url(../../../image/logo/pen.svg);
    margin-left: 4px;
    border: 1px solid #ffffff;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    align-self: center;
}

.profile__edit-button:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: border ease-in-out 0.6s;
}

@media screen and (min-width: 700px) {
    .profile__edit-button {
        min-width: 24px;
        min-height: 24px;
        margin-top: 16px;
        margin-left: 0;
    }
}

@media screen and (min-width: 1280px) {
    .profile__edit-button {
        margin-left: 15px;
    }
}