.profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

}

@media screen and (min-width: 700px) {
    .profile {
        grid-template-columns: 126px 317px auto;
        grid-template-rows: 100px 70px;
        width: calc(100% - 2 * 19px);
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .profile {
        margin: 0;
    }
}