.header{
    width: 100%;
    min-height: 56px;
    padding-top: 28px;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 1024px) {
    .header{
        width: calc(100% - 2 * 200px);
        margin: auto;
        padding-top: 45px;
        padding-bottom: 17px;
    }
}