.profile__add-button {
    all: unset;
    min-width: 278px;
    min-height: 46px;
    display: block;
    margin: 34px auto 0;
    background-image: url(../../../image/logo/plus.svg);
    border: 2px solid #fff;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: 35% 35%;
    background-position: center;
    grid-row: 4;
}

.profile__add-button:hover {
    opacity: 0.6;
    transition: opacity ease-in-out 0.6s;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    .profile__add-button {
        grid-column: 4;
        grid-row: 1;
        min-width: 146px;
        margin-top: 75px;
        margin-left: 4px;
        background-size: auto;
    }
}

@media screen and (min-width: 1024px) {
    .profile__add-button {
        margin-left: 28px;
    }
}

@media screen and (min-width: 1270px) {
    .profile__add-button {
        margin-left: 287px;
    }
}