.profile__add-button{
    all: unset;
    min-width: 282px;
    min-height: 50px;
    display: block;
    margin: 27px auto 0;
    background-image: url(../../../image/logo/Add-Button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: 3;
    grid-column: 1/-1;
}

@media screen and (min-width: 600px) {
    .profile__add-button{
        grid-column: 4;
        grid-row: 1;
        min-width: 150px;
        background-image: url(../../../image/logo/Add-button-full.svg);
        margin-top: 75px;
        /*margin-left: 59%;*/
    }
}

@media screen and (min-width: 1024px) {
    .profile__add-button{
        margin-left: 42%;
    }
}
@media screen and (min-width: 1270px) {
    .profile__add-button{
        margin-left: 59%;
    }
}