.profile__text{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
}

@media screen and (min-width: 1024px) {
    .profile__text{
        line-height: 22px;
        font-size: 18px;
        margin-top: 8px;
    }
}