.profile__label{
    /*display: inline-block;*/
    max-width: 189px;
    margin-top: 26px;
    margin-left: 25%;
    grid-row: 2;
    grid-column: 1;
}

@media screen and (min-width: 600px) {
    .profile__label{
        grid-column: 2;
        grid-row: 1;
        margin-left: 24%;
        margin-top: 62px;
    }
}

@media screen and (min-width: 1024px) {
    .profile__label{
        margin-left: 7%;
    }
}

@media screen and (min-width: 1100px) {
    .profile__label{
        margin-left: 0;
    }
}