.profile__label {
    display: flex;
    width: calc(100% - 2 * 65px);
    margin: 26px auto 0;
    grid-row: 2;
    justify-content: center;
}

@media screen and (min-width: 700px) {
    .profile__label {
        grid-column: 2;
        grid-row: 1;
        margin-top: 62px;
        max-width: 350px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .profile__label {
        margin-left: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .profile__label {
        margin-left: 0;
    }
}