.popup__button-close {
    all: unset;
    background-image: url(../../../image/logo/Close-Icon.svg);
    min-width: 20px;
    min-height: 20px;
    background-size: contain;
    position: relative;
    left: 262px;
    top: -36px;
}

.popup__button-close:hover {
    opacity: 0.6;
    transition: opacity ease-in-out 0.6s;
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    .popup__button-close {
        min-width: 32px;
        min-height: 32px;
        top: -40px;
        left: 438px;
    }
}